<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>New version of AppFactor Quoting released</title><meta http-equiv="PRAGMA" content="NO-CACHE"><link href="common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet"><link href="https://ssl.salesforce.com/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet"><link href="https://ssl.salesforce.com/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet"><link href="https://ssl.salesforce.com/dCSS/Theme2/default/assistive.css" type="text/css" media="aural,braille,embossed" rel="stylesheet">
<script type="text/javascript" src="https://ssl.salesforce.com/dCSS/Theme2/default/functions.js"></script>
<link rel="SHORTCUT ICON" href="https://ssl.salesforce.com/favicon.ico">
<script language="JavaScript1.2" src="https://ssl.salesforce.com/dCSS/Theme2/default/session.js"></script>
<!-- Added by Hari -->
<SCRIPT src="LookupPage_files/AppExSQ_JS.js" type=text/javascript></SCRIPT>
<script>
var hvch = needsClientHash('sid_Client', '000800000008snB000hZQl', '210.18.76.126', '/servlet/servlet.ClientHashValidator?ResponseRequestedURL=%2F_ui%2Fcommon%2Fdata%2FLookupSearchFrame%3Flktp%3D701%26maxw%3D1280%26lknm%3Dopp17%26lkfm%3DeditPage');
</script>
</head>
<body class="LookupSearchFrame"><form action="LookupPage_files/LookupResultsFrame" target="resultsFrame" id="theForm" name="theForm" method="get">
  <div class="lookup"><div class="bPageTitle"><div class="ptBody primaryPalette"><div class="content">
    <h1>Yahoo Widgets </h1>
  </div></div></div>
    <div class="toolsContentLeft">
      <div class="bSubBlock secondaryPalette"> 
        <div class="lbBody">
          <h3 class="lbHeader" style="background-color:#737e96"><strong>What are Yahoo! Widgets?</strong></h3>
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="margin-top:10px">
            
            <tr>
              <td width="340"><img src="http://quoting.appfactor.com/v3/images/yahoowidget.jpg" width="316" height="105"></td>
              <td valign="top" style="vertical-align:center">Yahoo! Widgets help you save time and stay current by bringing an always-updated, at-a-glance view of your favorite Internet services right to your desktop</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <h3 class="lbHeader" style="background-color:#737e96"><strong>SFDC Opportunity Total Widget</strong></h3>
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="margin-top:10px">
            
            <tr>
              <td width="340" valign="top" style="vertical-align:top"><img src="http://quoting.appfactor.com/v3/images/yahoowidget.gif" width="280" height="168"></td>
              <td valign="top" style="vertical-align:center"><p>The SFDC Opportunity Total Widget by AppFactor Labs connects to salesforce.com with your username/password and displays the total of all the Opportunities in your Salesforce instance right on your desktop. </p>
                <p>It shows the following opportunity related information using your preferred currency</p>
                <ul>
                  <li>
                    -Current Fiscal year total</li>
                  <li>-Current Fiscal Quarter total </li>
                  <li>-Current Month total</li>
                </ul></td>
            </tr>
          </table>
        </div>
        <div class="lbBody">
          <div class="mainLink">
            <p>To get  this widget now please click on the button below</p>
          </div>
          <div class="mainLink"><a href="http://www.salesforce.com/appexchange/detail_overview.jsp?NavCode__c=a018000000LbrOAAAK-"><a href="http://widgets.yahoo.com/gallery/view.php?widget=41552" target="_blank"><img src="http://quoting.appfactor.com/v3/images/get_it_now.gif" width="88" height="27" border="0"></a>
		  </div>
		  <div class="mainLink">
            <p>The SFDC Opportunity Total Widget requires the <a href="http://widgets.yahoo.com/" target="_blank">Yahoo! Widget Engine.</a></p>
          </div>
        </div>
		 
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:</strong> The Opportunities to be considered are configurable based on the Opportunity stage and probability and can be specified  within the Widget preferences.</div>
    </div>
  </div></form>
</body></html>